@import "./shared/index.css";
@import "./ui/index.css";

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.opacity-hover {
  opacity: 0.3;
}

.opacity-hover:hover {
  opacity: 1;
}

.skeleton {
  background: linear-gradient(
    -45deg,
    #9da09f,
    #bdbcbc,
    #dddddd,
    #c0c5c7,
    #9da09f
  );

  background-size: 400% 400%;

  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.d-none {
  display: none;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
@keyframes skeleton-gradient {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 100% 50%;
  }
}
